body {
  background: #00b4db;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #cfdbde, #b2e1f1);
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #cfdbde, #b2e1f1); */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
html {
  font-size: 16px;
}
.comm-left {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
  min-height: 85vh;
  max-height: 85vh;
  overflow: auto;
}
.comm-right {
  background-color: #fff;
  margin-left: 0.5rem;
  padding: 0.3rem;
  min-height: 85vh;
  max-height: 85vh;
  overflow: auto;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}
.comm-main {
  margin-top: 0.5rem;
  max-height: 95vh;
}
a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin-left: 3px;
}
.detailed-title {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}
.center {
  text-align: center;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(
    60deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}


@media screen and (max-width: 700px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .hdiv svg  {
     display: block !important;
   }          
}
@media screen and (max-width: 700px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .c-right {
     display: block !important;
     position: absolute;
     right: 5px;
     width: 60vw;
     box-shadow: -3px 2px 4px 0px #bcdaef;
     animation: sacl 0.5s cubic-bezier(0.21, -0.01, 0.39, 1.21) ;
     transform:scale(1)!important;
     transform-origin: 100% 0%;
   }
   .comm-right {
     display: block !important;
     transform:scale(0);
     transform-origin: 100% 0%;
     transition: transform 0.5s cubic-bezier(0.48, 0.43, 0.29, 1.1);
     position: absolute;
     right: 5px;
     width: 60vw;
     box-shadow: -3px 2px 4px 0px #bcdaef;

   }      
   .guanbi {
     display: inline-block !important;
   }
}
.guanbi {
  display: none;
}
@keyframes sacl {
  from {
    
    transform: scale(0);
  }

  to {
    transform:  scale(1);
  }
}